<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fastpushbuttongame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NormalLevel1Activity"
            android:label=".@string/title_activity_normal_level1"/>
        <activity
            android:name=".NormalLevel2Activity"
            android:label=".@string/title_activity_normal_level2"/>
        <activity
            android:name=".NormalLevel3Activity"
            android:label=".@string/title_activity_normal_level3"/>
        <activity
            android:name=".NormalLevel4Activity"
            android:label=".@string/title_activity_normal_level4"/>
        <activity
            android:name=".HardLevel1Activity"
            android:label=".@string/title_activity_hard_level1" />
        <activity
            android:name=".HardLevel2Activity"
            android:label=".@string/title_activity_hard_level2" />
        <activity
            android:name=".HardLevel3Activity"
            android:label="@string/title_activity_hard_level3" />
        <activity
            android:name=".HardLevel4Activity"
            android:label="@string/title_activity_hard_level4" />
        <activity
            android:name=".VeryHardLevel1Activity"
            android:label="@string/title_activity_very_hard_level1" />
        <activity
            android:name=".VeryHardLevel2Activity"
            android:label="@string/title_activity_very_hard_level2" />
        <activity
            android:name=".VeryHardLevel3Activity"
            android:label="@string/title_activity_very_hard_level3" />
        <activity
            android:name=".VeryHardLevel4Activity"
            android:label="@string/title_activity_very_hard_level4"></activity>
    </application>

</manifest>